.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-image: url('../static/images/banner.jpeg');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
    height: 450px;
    width: 100%;
}

.product-details-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 600px;
    padding-top: 80px;
}

.product-details-box__image {
    margin-bottom: 20px;
}

.product-details-box__image img {
    width: 300px; 
    height: 300px;
}

.product-details-box__details h3 {
    margin-bottom: 15px; 
    font-size: 40px;
}

.product-details-box__details div {
    font-size: 30px; 
    color: #dd2222; 
    margin-bottom: 30px;
}

.product-details-box__details p {
    margin-bottom: 45px;
}

.product-details-box__details ul {
    border-top: 1px solid #ebebeb; 
    padding-top: 40px; 
    margin-top: 30px; 
    font-size: 15px;
}

.button__go-back {
    float: right;
    margin-right: 15px;
}