<style>
  a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    color: lightblue;
  }
</style>

<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">


    <app-shopping-cart></app-shopping-cart>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>

      </div>
      <button *ngIf="authenticated; else shoppingCartButtonNotAuthenticated" (click)="drawer.toggle()" mat-icon-button
              color="accent"
              aria-label="Example icon button with a menu icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <ng-template #shoppingCartButtonNotAuthenticated>
        <button onclick="alert('Faça login para aceder ao carrinho');" mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </ng-template>

      <span style="margin-right: 3%">Carrinho</span>
      <a style="margin-right: 1%" routerLink="/login" *ngIf="!authenticated">| Login |</a>
      <a style="margin-right: 1%" routerLink="/signup" *ngIf="!authenticated">Signup |</a>
      <a style="margin-right: 1%" routerLink="/admin/addproduct" *ngIf="authenticated && !is_customer">Add Product |</a>
      <a style="margin-right: 1%" *ngIf="authenticated" (click)="logout()">Logout |</a>

    </mat-toolbar>
    <!-- Add Content Here -->
      <app-products></app-products>

  </mat-sidenav-content>
</mat-sidenav-container>
