<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Carrinho</mat-toolbar>
    <mat-nav-list>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>

      <div mat-list-item class="row" style="display: flex; justify-content: space-around; height: 5em;">
        <div class="col-7" style="display: flex;align-items: center;"><a style="word-break: break-word;">Item X</a>
        </div>
        <div class="col"><a style="height: 100%" mat-list-item>
          <mat-icon color="accent">delete</mat-icon>
        </a></div>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button (click)="drawer.toggle()" mat-icon-button color="accent"
              aria-label="Example icon button with a menu icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <span>Mercadinho dos Cliques</span>
    </mat-toolbar>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
